.error-container {
    display: flex;
    padding: 1em;
    height: 40vh;
    color: white;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: black;
}

.home-page, .home-page:hover, .home-page:focus {
    color: #fff;
    font-weight: 700;
}

a.btn.solid.green {
    text-transform: uppercase;
    border: 1px solid #4BAA39;
    background-color: #4BAA39;
    color: #fff;
}