

body{
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
  overflow-y: scroll;
  /* padding-top: 80px; */
  
 
  background-color: #f2f2f2;
   /*
   background-image: url('https://storage.googleapis.com/avayastore/public_files/ipo-banner.jpg');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 2400px 470px;
  */
}

option {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif !important;
}

@media (min-width: 768px) {
  .navbar-header {
      float: initial;
  }

  li.dropdown:hover > ul.dropdown-menu {
    display:block;
  }

}

.navbar-inverse {
  /* background-color: #222; */
  border-color: #ccc !important;
  -webkit-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3) !important;
  -moz-box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3) !important;
  box-shadow: 0px 0px 8px 2px rgba(0,0,0,0.3) !important;
  border-top: 10px solid #c00 !important;
}

a.nav-link {
  position: relative;
    display: inline-block;
    padding: 10px 15px;
  color: #333;
  font-weight: 600;
}

.navbar-inverse .navbar-nav>li>a{
  color:#333;
  font-weight: 600;
}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover,
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  color: #000;
  background-color: transparent !important;
}

.navbar-inverse .navbar-toggle {
  background: none;
  border: none;
}

@media (max-width: 768px) {
  .navbar-nav, .container>.navbar-header  {
      margin: 0 !important;
  }

  .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    color: #000;
  }

  a.developerAction:focus, a.developerAction:hover {
    color: #9d9d9d !important;
    text-decoration: none;
    background-color: #fff !important;
  }

  .nav>li {
    display: flex;
    justify-content: center;
  }

  .dropdown-menu li {
    text-align: center;
  }
  
  li.dropdown.open {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

}

.align-left {
  text-align: left !important;
}
p.hint{
  color:#aaa;
  font-size:12px;
  font-weight: 300;
  font-style: italic;
}

.header-wrapper {
  /* add css3 sticky menu feature */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
}

.zs-navbar {
  background-color: #fff;
  margin-bottom: 0;
  border-radius: 0px;
  padding: 8px 0;
}

.zs-spacer{
  height: 50px;
}

.zo-main-title{
  font-weight:300;
  letter-spacing: -1px;
  font-size:41px;
  color:white;
}

.copy-billing-address{
  width:20px;
  margin-right:10px;
}

.zs-main-title{
  font-size:51px;
  font-weight:300;
  text-align:center;
  text-transform: uppercase;
}


.zo-logo {
  width: 130px;
  margin-top: 0px;
  margin-left: 7px;
}

.zo-logo-hint {
  vertical-align: super;
    color: white;
    font-size: 11px;
}

.btn-danger{
  background-color:#c00;
}

.text-danger{
  color:#c00;
}

.text-primary {
  color: #73c1c7;
}

.text-strike {
  text-decoration: line-through;
}

.text-underline {
  text-decoration: underline;
}

.text-white {
  color:white;
}

.bg-white {
  background-color:white;
}

.go-up-btn{
  font-size:14px;
  color:#828282;
}

.account__avatar__pic {
  display:inline-block;
  width:25px;
  height:25px;
  margin-right:5px;
}

.partners__link__img {
  display: inline-block;
  width:25px;
  height:25px;
  margin-right: 5px;
  margin-top:-5px;
}


.footer{
  margin-top:30px;
}

.btn-space{
  margin-right:5px;
}

.btn-space:last-child{
  margin-right:0;
}

.btn, .form-control, .well, .alert{
  border-radius:0px !important;
}

.btn.disabled, .btn[disalbed]{
  opacity: 1 !important;
  background-color:#f1f1f1;
}

.btn-primary{
  color: #fff;
	background-color: #304050;
  border: 1px solid #304050;
}

.btn-primary:hover{
  color: #fff;
	background-color: #304050;
  border: 1px solid #304050;
}

.btn-primary:focus, .btn-primary:active{
  color: #fff;
	background-color: #304050;
  border: 1px solid #304050;
}

.btn-black {
  background-color:#000;
  color:#fff;
}

.btn-black:hover{
  color:#fff;
}

.text-600{
  font-weight: 600;
}

.text-500{
  font-weight:500;
}

.text-400{
  font-weight: 400;
}

.text-300{
  font-weight:300;
}

.text-italic{
  font-style: italic;
}

.text-small {
  font-size:12px;
}

.text-line-through{
  text-decoration: line-through;
}

.overflow-hidden {
  overflow: hidden;
}

a.clear-order-link{
  display:block;
  padding:0px 20px;
  text-decoration: underline;
  color:#666;
}

a{
  transition: all .16s ease;
}

a:hover{
  opacity: .9 !important;
}

a.btn-step-nav{
    border-radius: 30px !important;
    margin-right:10px;
    padding:10px 50px;
}

.top-container{
  /* padding:20px 0; */
  /* max-width: 1170px;     */
  /* margin: auto;
  background-color: #f1f1f1;
  border-top: 5px solid #cc0000; */
  background-color: white;
}

.center-content {
  text-align: center;
}

.modal-content {
  border-radius: 0px !important;
}


.zs-progress-modal{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 23000;
  background-color: rgba(255,255,255,.7);
  display: none;
}

.zs-progress-modal .content{
  background-color: white;
  text-align: center;
  padding: 30px 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  box-shadow: 0 0 50px rgba(0,0,0,.3);
  border-radius: 5px;
  color:#333;
}

.zs-progress-modal .content a.zs-modal-close{
  position: absolute;
  right: 10px;
  top: 5px;
  display: inline-block;
  text-decoration: none;
  color: #aaa;
  font-size: 26px;
  line-height: 26px;
  background-color: #fff;
  border-radius: 30px;
  padding: 0;
}

.zs-progress-modal .title{
  font-weight: 700;
  color:#304050;
}

.zs-progress-modal .subtitle{
  font-weight: 300;  
}

.zs-progress-modal .spinner img{
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

.zs-radio{
  width: 25px;
      height: 25px;
      position: relative;
      background-color: #eee;
      margin: 0 auto;
      border-radius: 50px;
      border:1px solid #c1c1c1;
      cursor: pointer;
}

.zs-radio .inner{
  width: 12px;
      height: 12px;
      border-radius: 10px;
      background-color: #a2a2a2;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateX(-50%) translateY(-50%);
}

.zs-main-table{

}

.zs-main-table th{
  background-color: #f5f5f5;
      color: #828282;
      font-weight: 300;
      border-bottom: none !important;
      padding-top:15px !important;
      padding-bottom: 15px !important;
}

.zs-main-table td {
  border-top:none !important;
  vertical-align: middle !important;
}

.zs-main-table i.fa{
  font-size: 21px;
}

.zs-admin-search-form{
  margin:10px 0;
}

.zo-error-prompt{
  text-align: center;
    background-color: #c00;
    padding: 20px;
    color: white;
    font-size: 19px;
    font-weight: 300;
    display:none;
    margin-top:10px;
}
.zo-error-prompt i{
  margin-right:10px;
}

.zs-status-box{
  text-align: center;
  padding: 20px;
  color: white;
  font-size: 19px;
  font-weight: 300;
  display:none;
  margin-top:10px;
}

.zs-status-box i {
  margin-right:10px;
}

.zs-status-box.error{
  background-color: #c00;
}

.zs-status-box.success{
  background-color: green;
}

.zs-status-box.warn{
  background-color: #ac8d32;
}

.va-middle{
  vertical-align: middle !important;
}

.form-group{
  position: relative;
}

.form-group i.fa.fa-lock{
  position: absolute;
    right: 10px;
    bottom: 10px;
    font-size: 23px;
    color: #ddd;
}

.modal-body iframe{
  width:100%;
  border:0;
  overflow-x: hidden;
  font-family:Helvetica;
  height:400px;
}

.tos-link{
  color: black;
    font-weight: 600;
    text-decoration: underline;
}


.account-link {
  display:inline-block !important;
  padding:8px 18px !important;
  color:#333 !important;
  font-weight: 500;
  margin-left:10px;
  margin-top:5px;
  text-transform: uppercase;
}

.account-link.login{
  border:1px solid #ddd;
}

.account-link.signup{
  border:1px solid #c00;
  background-color: #c00;
}

.account-link.signup:hover{
  background-color: #c00 !important;
}

table .info-hint{
  cursor: pointer;
  background-image: url('https://storage.googleapis.com/avayastore/public_files/info.svg');
  background-size:12px 12px;
  width: 12px;
  height: 12px;
  background-repeat: no-repeat;
  display: inline-block;
  margin-left: 5px;
}

.partner-discount{
  background-color:#f1f1f1;
  padding: 0 0 20px 0;
  text-align: center;
}

.partner-discount .percent {
  font-weight:600;
  font-size:15px;
}

.nav-tabs>li>a{
  text-transform: uppercase;
  color: #aaa;
  font-size:16px;
}

.nav-tabs>li.active>a{
  font-weight: 500;
}

.hurricane-harvey-notification-container{
  background-color: #c00;
    margin: 20px 0;
    color: #fff;
    padding-bottom: 15px;
}

.hurricane-harvey-notification-container a {
  color: #fff;
    border: 1px solid #fff;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 0px !important;
}

.hurricane-harvey-notification-container a:after{
  content: '';
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 12px;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.zs-global-mask{
  position: fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background-color:rgba(255, 255, 255, 0.7);
  z-index:999999;
  display: none;
}

.zs-global-mask h1 {
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}


h3.flood-offer {
  text-align: center;
  color: #c00;
  font-weight: 300;
  background-color: #fff;
  padding:15px;
  border:1px solid #ddd;
}

.hurricane-harvey-notification-container{
  background-color: #c00;
    margin: 20px 0;
    color: #fff;
    padding-bottom: 15px;
}

.hurricane-harvey-notification-container a {
  color: #fff;
    border: 1px solid #fff;
    padding: 10px 40px;
    margin-top: 10px;
    border-radius: 0px !important;
}

.hurricane-harvey-notification-container a:after{
  content: '';
    position: relative;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-left: 12px;
    -webkit-transition: -webkit-transform .25s ease;
    transition: -webkit-transform .25s ease;
    transition: transform .25s ease;
    transition: transform .25s ease, -webkit-transform .25s ease;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}


.create-a-quote-link {
  border-color: #A2A2A4;
    color: #A2A2A4;
    text-transform: uppercase;
}

.uppercase {
  text-transform: uppercase;
}





@media (min-width:768px){

}


@media (max-width:1024px) {
  /* .top-container {
    max-width: 100%;
  } */
  body {
/*    background-size:auto; */
  }
}

@media (max-width:768px){

  body {
/*    background-size:auto; */
}
  .zs-main-title{
    font-size:31px;
  }

  .zs-progress-modal .content{
    width:100%;
    padding:15px;
  }
}

@media print {
  .btn-clear-advanced-product{
    display: none;
  }

  .footer{
    display: none;
  }
}

.top-buffer {
  margin-top: 20px;
}

.filter-by {
  margin: 5px 0px;
  padding: 5px;
  background-color: #ddd;
}
.filter-by a {
  margin-left: 5px;
  color: #304050;
}

.zs-navbar a.cart {
  padding: 12px;
}
.zs-navbar a.cart img {
  width: 24px;
}

.zs-navbar a.cart .bubble {
  width: 18px;
  height: 18px;
  background-color: #e44d4d;
  float: right;
  border-radius: 50px;
  color: #fff;
  font-size: 10px;
  text-align: center;
  padding: 0px;
}

a.developerAction {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
  text-decoration: none;
  cursor: pointer;
}

a.developerAction:focus, a.developerAction:hover {
  color: #262626;
  text-decoration: none;
  background-color: #f5f5f5;
}

.page-loader {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #fff;
}

.no-padding {
  padding: 0 !important;
}

.no-top-padding {
  padding-top: 0px !important;
}
.back-btn {
  color: #fff !important;
}


.navbar-inverse .navbar-toggle .icon-bar {
  background-color: #999 !important;
}

.navbar-inverse .navbar-toggle:focus, .navbar-inverse .navbar-toggle:hover {
  background-color: #f2f2f2 !important;
}

.read-only-value {
  border: none;
  background-color: inherit;
  box-shadow: none;
  border-bottom: 2px solid #ddd;
  padding: 5px;
  font-size: 19px;
  font-weight: 400;
  color: #000;
}

.inline-display {
  display: inline;
}


.e911-address {
  display:none;
}