.back-link
  a(href="/" + region + "/collaboration") &laquo; #{localizer.get('COLLABORATION')}
  span &nbsp; / 
  span #{localizer.get('AVAYA_SPACES')}
  ul.main-sub-menu-items
    //- li #{'menu1'}


