- var route = currentURL.replace(baseUrl, '');
.submenus
  .container
    .main-sub-menu
      if subMenus == 'uc-solution'
        include ./uc-solution
      if subMenus == 'avaya-spaces'
        include ./avaya-spaces
