extends ../index

block styles
  link(href='/public_nocache/stylesheets/partner/partner.css', rel='stylesheet')
  link(href='/public_nocache/stylesheets/partner/partner-portal.css', rel='stylesheet')
  link(href='/public_nocache/stylesheets/partner/partner-application.css', rel='stylesheet')

block mainbody
  include ./AgentInfoTop
  .top-container
    .container
      .row
        .col-lg-12
          include ../partner/PartnerCustomersTable
                      
block scripts
  script(src='/public_nocache/libs/jquery-ui/jquery-ui.min.js')
  script(src='/public_nocache/libs/momentjs/moment.min.js')
  script(src='/public_nocache/javascripts/partner/partner-portal.js')
  script(src='/public_nocache/javascripts/partner/partner-orders.js')
