.zo-longdistance-container#longDistanceRatesContainer
  .container
    .row
      .col-md-12
        h1.text-center.zo-features-title #{localizer.get('LONG_DISTANCE')}
        h3.text-center.zo-features-subtitle #{localizer.get('LONG_DISTANCE_SUBTITLE_TEXT')}
    .text-center
        button.btn.btn-primary.btn-lg(type="button", data-toggle="modal", data-target="#longDistanceRatesModal") #{localizer.get('VIEW_LONG_DISTANCE_RATES')}