.partner-picture img{
  margin: 0 auto;
    margin-top: -90px;
    width: 130px;
    height:130px;
    margin-bottom:20px;
}

.partner-status{
  padding: 35px 200px;
    border-radius: 3px;
    margin: 20px 0;
}

.partner-info h4{
  line-height:1;
}

.partner-link-container .partner-link{
  margin: 0 auto;
}

.partner-link-container .partner-link .form-control{
    text-align: center;
    cursor: pointer;
    border-radius: 0px !important;
    box-shadow: none;
    border: 1px solid #f1f1f1;
    background-color: #f1f1f1;
    padding: 20px 0;
    height: auto;
    font-size: 23px;
}


.agent-invitation-form .form-control {
  border: none;
      background-color: inherit;
      box-shadow: none;
      border-bottom: 2px solid #ddd;
      padding: 5px;
      font-size: 19px;
      color: #000;
}

.agent-invitation-form label {
  font-weight: 400;
  text-transform: uppercase;
  font-size:12px;
}

.agent-invitation-form .response {
  text-align: center;
}

.agent-trigger-link{
  padding:10px;
  cursor: pointer;
}

.agent-trigger-link a{
  text-decoration: none;
}

.panel-heading.agent-trigger-link {
  cursor: pointer;
}


.caret.agent-trigger {
  /* transform: rotate(-90deg); */
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-top: 10px dashed;
  margin-right:10px;
  transition: all .16s ease-in;
}


.caret.agent-trigger.collapsed {
  transform: rotate(-90deg);
}

.panel-group .panel+.panel{
  margin-top:0px;
}

.panel-default>.panel-heading{
  padding:0px;
}

.panel-body{
  padding:0px;
}

.panel {
  border-radius: 0px !important;
  border:1px solid #8e8e8e;
  border-bottom:none;
}

.panel-group .panel:last-child{
  border-bottom:1px solid #8e8e8e;
}

.panel-default>.panel-heading{
  border-color: #8e8e8e;
}

.agent-row{
  border-bottom: 1px solid #8e8e8e;
  padding:10px;
}

.agent-row:last-child{
  border-bottom:none;
}

.nav-tabs.nav-justified>li>a{
  border-radius:0px !important;
}

.nav-tabs>li.active>a{
  color:#c00;
}


.partner-orders-filters .form-control{
  border:none;
  border-bottom:2px solid #ddd;
  box-shadow: none;
  outline:none;
}

.partner-orders-filters .export-report-btn {
  border:1px solid #c00;
  border-radius:0px !important;
  color:#c00;
}

.export-report-btn[disabled] {
  pointer-events: none !important;
}


.partner-invitation-btn {
  font-size:14px !important;
  padding:15px 0;
}

.zs-main-table {
  border:1px solid #ddd;
}

.zs-main-table td {
  border-bottom:1px solid #8e8e8e;
}

.zs-main-table tfoot td {
  border-bottom:none;
}



@media (max-width:768px){

  .partner-status .btn-black{
    margin-top:10px;
  }
  .partner-status{
    padding:20px;
  }
  .partner-link-container .partner-link{
    width: 100%;
    margin: 0 auto;
  }

  .partner-picture img{
    width: 90px;
    height: 90px;
    margin-top: -70px;
  }
}
