.btn-group
  a.btn.btn-default(href='/order/' + order._id) #{localizer.get('VIEW_DETAILS')}
  button.btn.btn-default.dropdown-toggle(class=hasAdminPermission ? '' : 'sr-only' type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
    span.caret
    span.sr-only Toggle Dropdown
  ul.dropdown-menu
    li(class=hasAdminPermission ? '' : 'sr-only')
      a(href='/order/' + order._id + '/status') #{localizer.get('CHECKOUT_STATUS')}
