extends ../index
block styles
  link(href='/public_nocache/stylesheets/checkout.css', rel='stylesheet')
block mainbody
  div.row
    div.col-md-12
      h1 Checkout Anonymous
  div.row
    
      
      
