extends ../index
block mainbody
  div.row
    div.col-md-8.col-md-offset-2
      div.row
        div.col-md-12
          h1.text-center.zo-main-title= title
      div.row
        div.col-md-12
          include ./CartSummary
block scripts
  script.
    $(function () {
      window.print();
    });
