input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

.zo-selected-number{
  margin:30px 0;
  position:relative;
}

.zo-selected-number .number{
  background-color: #f1f1f1;
      font-size: 38px;
      font-weight: 300;
      padding: 20px 30px;
      text-align: center;
}

.zo-selected-number .trigger{
  cursor: pointer;
    position: absolute;
    right: -35px;
    top: 35px;
}

.zo-selected-number .trigger i{
  font-size: 26px;
    margin-left: 20px;
    color: #ddd;
}

.zo-number-text{
  text-align: center;
      color: #73c1c7;
      font-size: 19px;
      line-height: 11px;
      font-weight: 300;
}

.zo-number-option{
  margin:10px auto;
  position:relative;
  cursor: pointer;
}



.zo-number-option h3, .zo-number-option h5{
  font-weight: 300;
}

.zo-number-option {
  position:relative;
  cursor: pointer;
  opacity: .8;
  border-radius: 10px;
}

.zo-number-option:hover{
  opacity: 1;
}

.zo-number-option.selected{
  background-color:#f1f1f1;
  opacity: 1;
}

.zo-number-option.selected:hover{
  opacity: .8;
}

.zo-number-option .checkbox-container{
  width:20%;
  display:inline-block;
}

.zo-number-option .text-container{
  width:80%;
  display:inline-block;
}

.zo-number-option .checkbox-container .box{
  width:50px;
  height:50px;
  border:1px solid #ccc;
  border-radius:10px;
  position: relative;
  margin: 0 auto;
  background-color:#fff;
}

.zo-number-option .checkbox-container .box .tick{
  position: absolute;
    top: 0px;
    left: 6px;
    width: 55px;
    height: 20px;
    border-top: 0;
    border-right: 0;
    border-bottom: 3px solid red;
    border-left: 3px solid red;
    transform: rotate(-45deg);
}

.zo-bottom-buttons{
  text-align: center;
  margin:30px 0;
}

.zo-bottom-buttons .btn{
  border-radius: 50px !important;
      margin: 0 10px;
      padding: 10px 60px;
}

.zo-bottom-buttons .btn:hover{
  color: white;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}

.zo-back-btn{
  border: 1px solid #aaa;
      color: #333 !important;
      font-weight: 500;
}

.zo-next-btn{
  background-color: red;
    color: white;
    font-weight: 500;
}


/*NUMber modal*/
.zo-number-modal {
  position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(255,255,255,.6);
      display:none;
      z-index:334000;
}

.zo-number-modal .content{
  width: 600px;
    background-color: #fff;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    box-shadow: 0px 0px 30px rgba(0,0,0,.3);
    border-radius: 2px;
}

.zo-number-modal .content .title{
  font-size: 41px;
      font-weight: 300;
      text-align: center;
      letter-spacing: -1px;
      color: #73c1c7;
}

.zo-number-modal .content .subtitle{
  font-size: 21px;
      font-weight: 300;
      text-align: center;
      margin: 10px 0;
      letter-spacing: -1px;
}

.zo-number-modal .content .help{

}

.zo-number-modal .content input[name='modalNumber']{
  text-align: center;
    font-size: 41px;
    height: auto;
    margin-bottom:10px;
}
.zo-number-modal .content input[name='searchText']{

}
.zo-number-modal .content select[name='searchSelect']{
  margin-bottom:10px;
}

.zo-number-modal .content .number-list{
  margin:10px 0;
  height:150px;
  overflow-y: scroll;
  border:1px solid #ddd;
}

.zo-number-modal .content .number-list ul {
  list-style-type: none;
      padding: 0;
      margin: 0;
}

.zo-number-modal .content .number-list ul li{
  padding: 15px;
      border-bottom: 0;
      cursor:pointer;
      border-bottom: 1px solid #ddd;
}

.zo-number-modal .content .number-list ul li:last-child{
  border-bottom: none;
}

.zo-number-modal .content .number-list ul li.selected{
  background: #88c1c7;
    color: white;
    font-weight: 600;
}

.zo-number-modal .content .buttons{
  text-align: center;
}

.zo-number-modal .content .buttons a{
  margin: 0 10px;
      text-decoration: none;
      padding: 10px 40px;
      display: inline-block;
      border-radius: 30px;
      cursor:pointer;
}

.zo-number-modal .content .buttons a.cancel-btn{
  background-color: #fff;
    border: 1px solid #ddd;
    color: #828282;
    font-weight: 400;
}
.zo-number-modal .content .buttons a.set-btn{
  background-color: red;
    color: white;
    font-weight: 500;
}

.numbers-not-found-message{
  padding:5px;
  color:#73c1c7;
  font-size:15px;
  text-align: center;
}

@media (max-width:768px) {
  .zo-number-modal .content{
    width:100%;
  }
}
