.zo-users-table{
  margin:50px 0;
}

a.zo-add-user-btn{
  display: block;
  padding: 10px;
  border: 2px dotted #ddd;
  border-radius: 30px;
  text-decoration: none;
  color: #aaa;
  font-size: 18px;
}

a.zo-add-user-btn:hover{
  color:#828282;
}

.zo-users-table .strike{
  color:#aaa;
  text-decoration: line-through;
}

.zo-users-table table th{
  background-color: #eee;
    border-bottom: 0 !important;
    font-size: 13px;
    color: #828282;
    font-weight: 300;
    text-align: center;
}

.zo-users-table table th.user-count{
  font-weight: 400;
    color: #000;
    font-size: 16px;
}

.zo-users-table table th.user-count span.users-length{
  color: #d60505;
      font-size: 17px;
      font-weight: 600;
}
.zo-users-table table td{
  vertical-align: middle !important;
      text-align: center;
      border-top:0 !important;
}

.zo-users-table table td.device{
  display: flex;
}



.zo-users-table table td.device img{
  width: 25px;
    height: 25px;
    align-self: center;
    margin-right: 10px;
}

.zo-users-table table td.device .form-control{
  flex:7;
}

.zo-users-table table td.price{
  font-weight: 400;
    font-size: 18px;
    letter-spacing: -1px;
}

.zo-users-table input[type='radio']{
  width:20px;
  height:20px;
}

.zo-totals-table{

}

.zo-totals-table th {
  border-top:0 !important;
}

.zo-totals-table td{
  border-top:0 !important;
  border-top: 0 !important;
    font-size: 36px;
    letter-spacing: -2px;
    font-weight: 300;
}

.zo-bottom-buttons{
  text-align: center;
  margin:30px 0;
}

.zo-bottom-buttons .btn{
  border-radius: 50px !important;
      margin: 0 10px;
      padding: 10px 60px;
}

.zo-bottom-buttons .btn:hover{
  color: white;
    box-shadow: 0px 0px 30px rgba(0,0,0,.2);
}

.zo-back-btn{
  border: 1px solid #aaa;
      color: #333 !important;
      font-weight: 500;
}

.zo-next-btn{
  background-color: red;
    color: white;
    font-weight: 500;
}

.promotion-box {
  padding: 10px;
    border: 1px solid #73c1c7;
    color: #73c1c7;
    margin: 30px 0 0 0;
}

.one-time-discount{
  background-color:#fcf8e3;
  color:#c00;
  font-weight: 500;
}
