extends ../../../index

block styles
  link(href='/public_nocache/marketing/collab-spaces/css/style.css', rel='stylesheet')

block mainbody  
  if selectedLanguage=='en-US'
    include ./en-US/collab-spaces-index.html
  else  
    include ./en-US/collab-spaces-index.html


