table.cart-table{

}

table.cart-table th, table.cart-table td{
  vertical-align: middle !important;
}

.cart-item-quantity{

}

.cart-item-subtotal{
  
}

.cart-total-amount{
  text-align: right;
  font-size: 31px;
}
