.container
   .row.col-md-12.col-lg-12
        h1.text-300.text-center.text-white #{localizer.get('GENERAL_TERMS_OF_SERVICE_AVAYA_CLOUD_IP_OFFICE')}
        br
   .bg-white.row.col-md-12.col-lg-12
        br
        .doc-container
            iframe(src=url)

