extends ../../../index
block styles
  link(href='/public_nocache/stylesheets/legal/legal.css', rel='stylesheet')

block mainbody
    if selectedLanguage=='de-DE'
        if doc=='cookie-statement'
            include ../de/de-DE/cookie-statement.html
        else if doc=='general-tos'
            include ./en-US/terms-of-service.jade
    else  
        if doc=='general-tos'
            include ./en-US/terms-of-service.jade
        else if doc=='cookie-statement'
            include ./en-US/cookie-statement.html
