.hurricane-harvey-notification-container
  .container
    .row
      .col-md-12
        .text-300.text-center !{localizer.get('HURRICANE_HARVEY_MESSAGE')}
        .text-center
          a.btn.btn-danger(href='https://zang.io/hurricane-harvey') #{localizer.get('LEARN_MORE')}
