
@import "../../../../../node_modules/perfect-scrollbar/css/perfect-scrollbar.css";
@import "./ribbons.css";
.offer-wizard-app {
  /* margin-top: -70px; */
  min-height: 400px;
}
.root,
.root > div {
  height: inherit;
  overflow-y: hidden;
}

.app {
  /* background-color: #f2f3f2; */
  height: 100%;
  width: 100%;
  /* display: flex;
  justify-content: center; */
}

.zang-icon {
  font-family: zang-spaces-icon-font !important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
}

.page-loader,
.page-loader-switcher {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  z-index: 100;
  background-color: #fff;
}

.page-loader-switcher {
  display: none;
}

.page-loader-switcher.show {
  display: flex !important;
}

.header1 {
  /* padding: 10px; */
  /* text-align: center; */
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 15px;
  color: #304050;
}


.header2 {
  /* padding: 10px; */
  /* text-align: center; */
  font-size: 18px;
  margin-bottom: 20px;
  /* font-weight: 600; */
}

.btn-primary {
   background-color: #304050;
   border-color: #304050;
}

.white-bk {
  background-color: #fff;
}

.btn-white,
.btn-white:hover,
.btn-white:focus {
  background-color: #fff;
  color: #1E78FF;
}

.btn-white:hover {
  text-decoration: underline;
}

.btn.round {
  border-radius: 50px !important;
}

.btn-green,
.btn-green:active,
.btn-green:hover {
  color: #fff;
  background-color: #4BAA39;
}

.btn-green.disabled {
  background-color: #f1f1f1;
  color: #9e9e9e;
}

.flex-row {
  display: flex;
  flex-direction: row;
}


.contact-customer-service {
  background-color: #fff;
  padding: 40px 40px;
  margin-top: 40px;
  text-align: center;
}

.contact-customer-service h1 {
  font-weight: 700;
  font-size: 28px;
}

.contact-customer-service h3 {
  font-size: 16px;
  margin: 40px;
}

.contact-customer-service p {
  margin: 20px 20px;
}
.contact-customer-service a {

}

.invisible {
  display: none;
}

.transparent {
  background: transparent
}

.three-columns {
  display:grid;
  grid-gap: 20px;
  grid-template-columns: 32% 32% 32%;
}


.offer-wizard-app a {
  color: #3E8CFF;
  font-weight: 400;
}
.offer-wizard-app a:hover {
  color: #337ab7;
}

.show-mobile-inline,
.show-mobile-block {
  display:none;
}

.float-left {
  float:left;
}

.float-right {
  float: right;
}

/* mobile */
@media (max-width:768px){

}

@media (min-width: 480px) {
  .two-columns {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 49% 49%;
  }
}

@supports (-ms-ime-align: auto) {
  /* Microsoft EdgeV13&14 CSS styles go here */
  .two-columns {
    display: flex;
    justify-content: space-between;
  }

  .three-columns {
    display: flex;
  }

  .two-columns .radio-option {
    width: 49%;
    padding: 20px !important;
}

}

/* ipad */
@media (max-width:1200px){
  .three-columns {
    display: block;
  }

  .flex-row  {
    display:block;
  }

  .hide-mobile  {
    display:none;
  }

  .show-mobile-inline {
    display: inline-block
  }

  .show-mobile-block {
    display: block;
  }
}